# Binary/built files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogFiles/
[Pp]rofile/
[Ss]priteEditorCache/
[Ss]priteEditorTemp/
[Oo]sxData/
[Uu]serSettings/
.vs/
.vscode/

# Cache
[Cc]ache/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.userosscache
*.booproj
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# JetBrains Rider
.idea/
*.iml
*.ipr
*.ipr.properties
*.user
*.usr

# Unity Asset Store
UnityAssetStore.dat
UnityAssetStore-*.json

# Unity Timeline
*.take
*.take.snapshot
.takeSnapshot.snapshot

/Logs/
